* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.header {
  border: 4px solid red;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  transition: 0.3s;

  padding: 0 20px;
  line-height: 50px;
}
.main {
  border: 4px solid green;
}
.section {
  width: 100%;
}
.first {
  height: 765px;
  background: url(/assets/img/background1.jpg);
}
.main-section-title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;

  color: #ffffff;
}
.main-section-title-p1 {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.main-section-title-p2 {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #f2785c;
}
.button-frame1 {
}
.button-frame2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;

  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}
.button-text {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.planing-box {
  width: 892px;
  height: 95px;
  left: 120px;
  top: 416px;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.section-title {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  /* identical to box height */

  color: #f2785c;
}
.box-for-icons {
}
.icon-frame {
  width: 100px;
  height: 100px;
  display: flex;

  background: #f2785c;
  border-radius: 16px;
}
.icon {
  width: 52%;
}

.footer {
  border: 4px solid blue;
}
